@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
           margin: 0px;
           padding: 0px;  
           font-family: 'Roboto', sans-serif;   
}
.hero{
           background-image: url('../images/birds.jpg'); 
           background-repeat: no-repeat; 
           background-position: left center;
           background-size: cover; 
           background-attachment: fixed;
           height:60vh;
           /* for any thing in middle position then use this  */
           display: flex;
           justify-content: center;
           align-items: center;
}
.hero h1{
         color: azure;    
         font-size: 100px;
         font-weight: 500;        
}

.article{
         
         background-color: lightyellow; 
         height: 60vh;  
         padding:20px 40px ; 
         margin:60px auto;  
}
.article p {
         
        font-size:28px; 
        font-weight: 400;   
        text-align: justify;    

}